# This file is only used to provide information to FilterBLAST

Filter [Ment's Item Filters]

Version [3.0a]
LastUpdate [04.08.2017]
PoEVersion [3.0.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1243499]

BlockGroups on
SmartStyles on
DisabledBlocks wrapped

Presets
	Preset "Full (Level 1-64)" DEFAULT [MentsItemFiltersFull] [https://github.com/ment2008/POE/releases/download/3.0a/MentsItemFiltersFull.filter]
	Preset "Limited (Level 65+)" [MentsItemFiltersLimited] [https://github.com/ment2008/POE/releases/download/3.0a/MentsItemFiltersLimited.filter]
