# This file is only used to provide information to FilterBLAST

Filter [Ment's Item Filters]

Version [3.4b]
LastUpdate [9.11.2018]
PoEVersion [3.4.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1243499]

BlockGroups on
SmartStyles on
DisabledBlocks wrapped

Presets
	Preset "Full (Level 1-64)" DEFAULT [MentsItemFiltersFull] [https://raw.githubusercontent.com/ment2008/POE/master/MentsItemFiltersFull.filter]
	Preset "Limited (Level 65+)" [MentsItemFiltersLimited] [https://raw.githubusercontent.com/ment2008/POE/master/MentsItemFiltersLimited.filter]
	Preset "Uber (Anywhere End-Game)" [MentsItemFiltersUber] [https://raw.githubusercontent.com/ment2008/POE/master/MentsItemFiltersUber.filter]
	Preset "MF (Anywhere End-Game)" [MentsItemFiltersMF] [https://raw.githubusercontent.com/ment2008/POE/master/MentsItemFiltersMF.filter]
